@model LoginModel;
@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Login.cshtml";

}

<div class="container  d-flex align-items-center justify-content-center" style="height:100vh;">
	
	<div class="login-box p-5">
		<div class="login-key text-center"><i class="bi bi-key"></i></div>

		<h2 class="text-center display-4 fw-bold">Login</h2>
		<hr />
			@if (ViewData["ErrorMessage"] != null)
			{
			<div class="text-danger">
				@ViewData["ErrorMessage"]
			</div>

			}
		<form method="post" asp-action="Login" asp-controller="Account">
			<div class="mt-2">
				<label class="form-control-label" asp-for="Username">Username:</label>
				<input id="Username" asp-for="Username" class="form-control ps-2" required />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="mt-2">
				<label class="form-control-label" asp-for="Password">Password:</label>
				<input id="Password" asp-for="Password" type="password" class="form-control ps-2" required />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="mt-3">
				<button id="loginBtnSubmit" type="submit" class="btn1 btn-primary w-100">Login</button>
			</div>
		</form>
	</div>
</div>


@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function(){
			var name = $("#Username").val() == null ? "" : $("#Username").val();
			var pass = $("#Password").val() == null ? "" : $("#Password").val();
			console.log(name)
			console.log(pass)

			if(name != "" && pass !="" ){
				$("#loginBtnSubmit").click();
				console.log("LOGIN")
			}
		
		});
	</script>
}